# Third-party deps
deps/

# VS/VScode stuffs
.vscode/
.vs/
out/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Resources (assets) folder
res/

# Project config
config.yaml

# Executables
main_debug
main_release


imgui.ini
