# VS/VScode stuffs
.vscode/
.vs/
CMakeSettings.json

# Extra components folder
components/

# general build folder
out/
build/
release/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Resources (assets) folder
res/

# Project config
config.yaml

# Executables
main_debug
main_release


imgui.ini
