[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "deps/audiofile"]
	path = deps/audiofile
	url = https://github.com/rilpires/AudioFile
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/Perlmint/glew-cmake
	branch = master
[submodule "deps/vorbis"]
	path = deps/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "deps/ogg"]
	path = deps/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
